.account-header {
  display: flex;
  justify-content: center;
}

.account-header ul {
  list-style-type: none;
}

.account-header li {
  margin-top: 20px;
}

.account-body {
  display: block;
}

.account-container {
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 100%;
  height: 140px;
  border-radius: 25px;
  outline: 1px solid;
  border-width: 0;
  padding-left: 1%;
}

.text-info {
  width: 70%;
  line-height: 50%;
}

.cards-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-lower-buttons {
  width: 30%;
  display: block;
}

.cards-lower-button {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-button {
  width: 100px;
  float: right;
  height: 30px;
  background-color: #d7985e;
  font-family: "Inter", sans-serif;
  border-width: 0;
  outline: solid 1px;
  border-radius: 20px;
  cursor: pointer;
}

.cards-button:hover {
  background-color: #d5b48f;
}
