.send-header {
  display: flex;
  justify-content: center;
}

.send-header ul {
  list-style-type: none;
}

.send-header li {
  margin-top: 20px;
}

.send-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-body {
  display: block;
}

.send-container {
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 100%;
  height: 220px;
  border-radius: 25px;
  outline: 1px solid;
  border-width: 0;
  padding-left: 1%;
}

.text-info {
  width: 70%;
  line-height: 50%;
}

.send-small-buttons {
  width: 30%;
  display: block;
}

.send-lower-button {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button {
  width: 100px;
  float: right;
  height: 30px;
  background-color: #d7985e;
  font-family: "Inter", sans-serif;
  outline: 1px solid;
  border-width: 0;
  border-radius: 20px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #d5b48f;
}
