@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #67ab9f;
  height: 98%;
  width: 98%;
}

html {
  height: 98%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e6e3;
  height: 5em;
  border-radius: 2em;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  outline: solid 2px;
}

@media only screen and (max-width: 540px) {
  #exit-button {
    visibility: hidden;
  }
}

.left-navbar, .right-navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-navbar img {
  height: 50px;
}

.left-navbar {
  padding-left: 10%;
}

.left-navbar li, .right-navbar li {
  display: inline-block;
}

.left-navbar li a, .right-navbar li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
  text-align: left;
  font-size: 17px;
}

.left-navbar li a {
  padding-left: 15px;
}

.right-navbar li a {
  padding-right: 15px;
}

.topnav li.active {
  color: #d7985e;
}

.topnav li a:hover {
  color: #d7985e;
}

.site-logo {
  padding-right: 15px;
}

#root {
  height: 90%;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.container {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 600px;
  height: 200px;
  border-radius: 50px;
  box-shadow: 2px 2px;
}

.container p {
  text-align: left;
  height: 5px;
  display: block;
}

.first-block {
  padding-top: 1px;
  margin-left: 30px;
}

.second-block {
  margin-top: 40px;
  margin-left: 30px;
}

.button-group {
  display: block;
  list-style-type: none;
}

.small-button {
  width: 100px;
  float: right;
  height: 30px;
  background-color: #d7985e;
  font-family: "Inter", sans-serif;
  box-shadow: 2px 2px;
  border-width: 0;
  border-radius: 20px;
  cursor: pointer;
}

.small-button:hover {
  background-color: #d5b48f;
}

.page-title {
  font-family: "Inter";
  font-weight: 100;
}

.text-box {
  width: 360px;
  height: 100%;
  text-align: center;
  border-radius: 2em;
  border-style: none;
  font-size: 100%;
  outline: solid 2px;
  background-color: #e8e6e3;
}

.date-picker {
  width: 360px;
  height: 100%;
  text-align: center;
  border-radius: 2em;
  border-style: none;
  font-size: 130%;
  outline: solid 2px;
  background-color: #e8e6e3;
}

.select-box {
  width: 360px;
  height: 100%;
  text-align: center;
  border-radius: 2em;
  border-style: none;
  font-size: 100%;
  outline: solid 2px;
  background-color: #e8e6e3;
}

.big-button {
  font-family: 'Poppins', sans-serif;
  width: 360px;
  height: 100%;
  text-align: center;
  border-radius: 2em;
  border-style: none;
  font-size: 100%;
  outline: solid 2px;
  background-color: #d7985e;
  cursor: pointer;
}

.big-button:hover {
  background-color: #d5b48f;
}

.error-message {
  font-size: 16px;
}
